<h1>Game</h1>

<% #Place lost/won displays into partials. %>
<% if @game.lost? %>
  <%= render 'game_lost' %>
<% elsif @game.won? %>
  <%= render 'game_won' %>
<% else %>
  <%= render 'active_game' %>
<% end %>
  